/* Set global variables for use across the application */
:root {
  --blue: #0769cc;
  --blue-chrome: #d0e6fd;
  --white: white;
}

/* Style the logo */
#logo-span {
  color: var(--blue-chrome);
  font-style: italic;
}

h1 {
  color: var(--blue);
}

/* Styling the individual card / section headings */
h2 {
  color: var(--blue);
}

/* Styling for the content cards */
.card {
  border-color: var(--blue-chrome);
}

.card-header {
  background-color: var(--blue-chrome);
  color: black;
}

.card-footer {
  background-color: var(--blue-chrome);
}

/* Styles the links in the news section */
a {
  text-decoration: none;
}

/* Global styles applied to form elements and buttons */
.btn {
  background-color: var(--blue);
  border-color: var(--blue);
  color: var(--white);
}

.form-control {
  border-color: var(--blue-chrome);
}
