:root {
    --blue: #0769cc;
    --gold: #CC6A07;
    --blue-chrome: #D0E6FD;
    --white: white;
}

#logo-span {
    color: var(--blue-chrome);
    font-style: italic;
}

h1 {
    color: var(--blue)
}

header {
    margin: 2% 9%;
    
}


.card {
    border-color: var(--blue-chrome);
    
}

.card-body {
}

h2 {
    color: var(--blue)
}

.card-header {
    background-color: var(--blue-chrome);
    color: black;   
}

.card-footer {
    background-color: var(--blue-chrome);
}

.btn {
    background-color: var(--blue);
    border-color: var(--blue);
    color: var(--white);
}

.form-control {
    border-color: var(--blue-chrome);
}

footer {
    margin: 2% 9%;
}

a {
   text-decoration: none;
}